<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
	<%= stylesheet_link_tag "base_packaged.css" %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "jquery.corner.js" %>
	<%= javascript_include_tag "jquery.collapser.js" %>
	<%= csrf_meta_tag %>
	<meta content='text/html;charset=utf-8' http-equiv='Content-Type' />
	<title>Family Albums</title>
	<link rel="icon" type="image/png" href="/images/album.png">
	<script type="text/javascript">
	 $(document).ready(function(){
	   $('.top-rounded-corners').corner('round top');
	   $('.bottom-rounded-corners').corner('round bottom');
	   $('.rounded-corners').corner('round');
	 });
	</script>
</head>
<body class=''>
<div class='wrapper'>
<div class='' id='header'>
<div id='header_content'>
  <table width="100%">
    <tr>
      <td width="100"><a href="/" style=""><img alt="Family Album" height="99" src="/images/album.png" width="99" /></a></td>
      <td><div style="font-size:36pt; color:#fff; line-height: 42pt;">Family Album</div></div></td>
      <td><div style="float:right;">
        <% if user_signed_in? then %>
          Signed in as <%= current_user.email%>, <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
        <% else %>
          Please <%= link_to "Sign In", new_user_session_path %>
        <% end %>
      </div></td>
    </tr>
    <tr>
      <td colspan="3">
        
      </td>
    </tr>
  </table>
</div>
</div>

<div id='content'>
  <% flash.each do | name, msg | %>
    <%= content_tag :div, msg, :id => "flash_#{name}", :class => "flash-box rounded-corners" %>
  <% end %>
  <%= yield %>
<br />
<br />
<!--
<table style='width:100%'>
<tr>
<td style='width:28%; padding-right:5px'>
<div class='top_rounded_corners' style='background-color:#333; text-align:center; padding:5px;'>
<h3 style='margin:0;'>Bottom Left Title</h3>
</div>
<div class='bottom_rounded_corners' style='text-align:left; background-color:#555; padding:10px 15px; height:55px; font-size:12px'>
Bottom Left Box
</div>
</td>
<td style='padding-right:5px'>
<div class='top_rounded_corners' style='background-color:#333; text-align:center; padding:5px;'>
<h3 style='margin:0;'>
Bottom Center Title
</h3>
</div>
<div class='bottom_rounded_corners' style='text-align:left; background-color:#555; padding:10px 15px; height:55px; font-size:12px'>
Bottom Center Box
</div>
</td>
<td style='width:31%;'>
<div class='top_rounded_corners' style='background-color:#333; text-align:center; padding:5px;'>
<h3 style='margin:0;'>
Bottom Right Title
</h3>
</div>
<div class='bottom_rounded_corners' style='text-align:left; background-color:#555; padding:10px 15px; height:55px; font-size:12px'>
Bottom Right Box
</div>
</td>
</tr>
</table>
-->
</div>
<div class='push'></div>
</div>
<div id='footer'>
<div id='footer_content'>
<!--
<div style='float:right'>
<a href="http://challonge.com/tournament">Browse the 58,206 tournaments published on CHALLONGE!</a>
</div>
&nbsp;&nbsp;
<a href="http://challonge.com/static/about">About</a>
&nbsp;|&nbsp;
<a href="http://challonge.com/static/terms_of_service">Terms</a>
-->
</div>
</div>
<div id='tmp_series_top'>
<span style='display:none; font-weight:bold'></span>
</div>
</body>
</html>
